html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  background-color: #2C314E;
  font-family: Raleway;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  background:none;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: 0;
}
::-webkit-scrollbar-thumb {
  background: #363954;
  border-radius: 10px;
}
.Hide{
  display: none;
}
.Barra_lateral {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color:#424669;
  box-shadow: 5px 5px 20px black;
  left: 0;
  width: 100px;
  height: 100vh ;
  position: fixed;
  animation-name: fechar;
  animation-duration: 0.5s;
}
.Barra_lateral:hover{
  animation-name: abrir;
  animation-duration: 0.5s;
  width: 250px;

.P_BarraLateral{
  visibility: visible;
  background: none;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin-right: 25px;
}
.P_Woofo{
  visibility: visible;
  background: none;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin-right: 25px;
}

.P_BarraLateral:hover{
  color: #e47ed0;
  text-shadow: 0px 1px 10px #c349aa;
} 
.P_Woofo:hover{
  color: #e47ed0;
  text-shadow: 0px 1px 10px #c349aa;
}
}
.Elements_Barra_Lateral{
  background:none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.P_BarraLateral{
  visibility: hidden;
  font-size: 0px;
 
}
.P_Woofo{
  visibility: hidden;
  font-size: 0px;
  text-decoration: none;
}
@keyframes abrir{
  0%{width: 100px;}
  100%{width: 250px;}
  
}
@keyframes fechar{
  0%{width: 250px;}
  100%{width: 100px;}
}


.main__Home{
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.Display__home{
  background-image: url("./components/static/FundoNuvemGrande.png");
  width: 100%;
  height: 100%;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
/* posts */
.post {
  background: none;
  display: flex;
  min-height: 600px;
  max-height: 600px;
  max-width: 900px;
  min-width: 900px;
  margin: 100px;
  border-radius: 10px;
  box-shadow: 15px 5px 20px black;
}
.Options_Post{
  display: none;
  background-color: #4E527B;
  align-self: start;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 10px;
  height: 65px;
  box-shadow: 1px 2px 10px black;
}
.Button_ExcluirPost{
  background-color: #db889f;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
  height: 20px;
  cursor: pointer;
}
.comment_component{
  background-color: #4E527B;
  max-height: 500px;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: auto;
  -webkit-box-orient: vertical; 
  word-break: break-all;
  margin-left: 10px;
}
::placeholder{
  color: white;
}
.Div_Direita_Comments{
  background-color: #4E527B;
  max-height: 600px;
  width: auto;
  display: grid;
  grid-template-rows: 70px 460px 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.Div_Esquerda_Image{
  max-width: 540px ;
  background-color: #424669;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.post__header {
  display: flex;
  align-items: center;
}
.post__avatar {
  margin-right: 10px;
  background-color: #5d438f;

}
.post__image {
  margin: 20px;
  background-color:#363954;
  width: 100%;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.post__text {
  background-color:#424669;
  margin-top: 5px;
  margin-left: 5px;
  max-width: 500px;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  word-break: break-all;
  color: white;
}
.Div_All_comments{
  margin-top: 5px;
 }
.comment__text{
  background-color: #4E527B;
  word-break: normal;
  color: white;
}
.Header_Comments{
  
  background-color: #4E527B;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.Div_Comments-Input{
  flex-direction: row;
  margin-bottom: 20px;
  width: auto;
  overflow: hide;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  word-break: break-all;
}
.Div_Input_Comment{
  background-color: #4E527B;
  display: grid;
  grid-template-columns: 270px 0px 100px;
  grid-template-rows: 30px 0px;
  margin-top: 20px;
}
.legenda_e_Like{
  background-color: #424669;
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto 0px 60px;
  grid-template-rows: 50px 0px;
}
.Div_Like{
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Div_Like p{
  background: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.like__Button_precionado{
  margin-left: 5px;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  background-color: #c349aa;
  border: none;
  color: white;
}
.Caption{
  background-color: #424669;
  color: white;
}
progress{
  background: none;
  width: 400px;
  height: 22px;
}
progress::-webkit-progress-bar{
  background-color: white;
  border-radius: 20px; 
  box-shadow: 0px 1px 10px rgb(60, 59, 59);
}
progress::-webkit-progress-value{
  background-color: #db889f;
  border-radius: 20px; 
  box-shadow: 0px 1px 10px #c349aa;
}
.picture_image {
  background-color:#363954;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  min-height: 400px;
  min-width: 400px;
  object-fit: contain;
}
.Label_InputFile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: #4E527B;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px dashed currentcolor; 
}
.Label_InputFile_avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: #4E527B;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px dashed currentcolor; 
  border-radius: 100%;
}
.NoImg_Button{
  background-color: #db889f;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.ComImg_Button{
  background-color: #db889f;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.NoImg_Button:hover{
  background-color: gray;
}
.ComImg_Button:hover{
  background-color: #e47ed0;
  box-shadow: 0px 1px 10px #c349aa;
}

.ButtonHead{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #db889f;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.ButtonHead:hover{
  background-color: #c349aa;
}
.ButtonPost{
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #db889f;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.ButtonPost:hover{
  background-color: #c349aa;
}
.UserCred{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.InputGeneric{
  border: none;
  height: 50px;
  width: 400px;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  color: black;
}
.InputGeneric:focus{
 border: none;
}
.InputGeneric::placeholder{
  color: gray;
}
.class_Div_Post{
  display: flex;
  flex-direction: column; 
  align-items: center;

}
.titulo {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.titulo-cadastro {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;

}
.paragrafo-login {
  font-size: 24px;
  margin-bottom: 50px;
  color: white;
}

.submitButton{
  background-color: #db889f;
  color: white;
  border: none;
  width: 125px;
  height: 35px;
  font-family: Raleway;
  font-size: 20px;
  border-radius: 50px;
  margin-top: 30px;
}
.submitButton:hover{
  background-color: #e47ed0;
  cursor: pointer;
}
.signin{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.signup{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.fundoNuvem{
  background-image: url("./components/static/FundoNuvemGrande.png");
  width: 100vw;
  height: 100vh;
}
.WelcomeUser{
  color: white;
  font-size: 20px;
  border: none;
  background-color:#424669;
  font-size: 25px;
}

#class_Div_Post input{
  font-family: Raleway;
}
#class_Div_Post button{
  font-family: Raleway;
  border: none;
  padding: 20px 10px;
  width: 100px;
  background-color: #db889f;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
}
#class_Div_Post button:hover{
  color: black;
  background-color: #c349aa;
}
#image{
  display: none;
}
.labelInput {
  padding: 20px 10px;
  width: 200px;
  background-color: #db889f;
  display: block;
  font-family: Raleway;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
}
.labelInput:hover{
  color: black;
  background-color: #c349aa;
}

#post_Form{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.homepage{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.feed{
  background:none;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.Username{
  background-color: #4E527B;
  color: white;
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
  height: 2ch;
  width: 250px;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  word-break: break-all;
}

.Img__Logo{
  background-color: #5d438f;
}
.Modal_Cadastro ::after {
  background-color: rgb(0,0,0, .5);
}
dialog {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 5px 25px black;
  border: none;
  border-radius: 40px;
}

.Button_Trocar_loginCadastro{
  background-color: #676f9d;
  color: white;
  border: none;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
}
.Button_Trocar_loginCadastro:hover{
  background-color: #676f9d;
  color: #db889f;
  border: none;
  text-decoration: none;
}
.Div_TrocarButton{
  background-color: #676f9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.voltar{
  font-family: Raleway;
  width: 70px;
  height: 30px;
  border: none;
  background-color: #db889f;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
}
.voltar:hover{
  background-color: #e47ed0;
  box-shadow: 0px 1px 10px #c349aa;
}
.Modal_Postagem{
  width: 500px;
  height: 650px;
  border: none;
}
.TextArea__NewPost{
  color: black;
  background-color: white;
  height: 70px;
  width: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgb(60, 59, 59);
}
.TextArea__NewPost::placeholder{
  text-align:center;
  color: black;
  justify-self: center;
  align-self: center;

}
.Div_Modal_Post{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-items: center;
}
.Button_Comentar{
  background-color: #db889f;
  color: white;
  border: none;
  border-radius: 50px;
  width: 75px;
  margin-left: 10px;
  cursor: pointer;
}
.Button_Comentar_Vazio{
  background-color: #db889f;
  color: white;
  border: none;
  border-radius: 50px;
  width: 75px;
  margin-left: 10px;
  cursor: pointer;
}
.Button_Comentar_Vazio:hover{
  background-color: gray;
}
.Input__Comment{
  background-color: #4E527B;
  border: none;
  border-bottom: solid 1px white;
  width: auto;
  margin-bottom: 3px;
  margin-left: 5px;
  color: white;
}

.Button__Woofo{
  border: none;
  background-color:#424669;
  font-family: Raleway;
  color: white;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}
.Div_Img_Login{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.Div_Text_Login{
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: white;
  margin-top: 25px;
}
.P_Text_Login{
  font-size: 30px;
  margin-bottom: 10px;
}
.H1_Text_Login{
  font-size: 45px;
}
.Img__Login{
  max-width: 800px;
}
.ModalPerfil{
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: auto;
  grid-template-rows: 70px 60px 20px 80px;
  height: 280px;
  width: 300px;
}
.P_ModalPerfil{
  background: none;
  color: white;
  font-size: 25px;
}
.P_BioPerfil{
  margin-top: 10px;
  max-height: 125px;
  background:none;
  color: white;
  font-size: 20px;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  word-break: break-all;
}
.P_BioPerfil::-webkit-scrollbar-thumb{
  background-color: #2C314E;
}

.Button_ModalPerfil{
  background-color: #db889f;
  justify-self: center;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
}
.Button_ModalPerfil:hover{
  background-color: #e47ed0;
  box-shadow: 0px 1px 10px #c349aa;
}
.Div_Postagens_Perfil{
  background: none;
  display: grid;
  border-radius: 20px;
}
.Div_Postagens_Perfil img{
  width: 500px;
  height: 500px;
  background-color: #363954;
  object-fit: contain;
  margin-top: 30px;
  border: 2px solid #363954;
}
.Div_Header_Perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424669;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.H1_Header{
  background-color: #424669;
  margin-top: 50px;
  font-size: 50px;
  color: white;
  height: 2ch;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  word-break: break-all;
}
.H1_Header::-webkit-scrollbar-thumb{
  background-color: #424669;
}
.Button_EditPerfil{
    background-color: #db889f;
    border: none;
    color: white;
    width: 125px;
    height: 35px;
    font-family: Raleway;
    border-radius: 10px;
    cursor: pointer;
}
.Div_EditPerfil{
  display: grid;
  background: none;
}
.ButtonEdit{
  align-self: center;
  justify-self: center;
  width: 170px;
  height: 30px;
  border: none;
  background-color: #db889f;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.ButtonEdit:hover{
  background-color: #e47ed0;
  box-shadow: 0px 1px 10px #c349aa;
}
.Foto_Header_Perfil{
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 2px solid black;
}
.Perfil{
  background: none;
  display: flex;
  align-items: center;
  flex-direction:column;
}
.HeaderPerfil{
  display: grid;
  background: none;
}
.HeaderPerfilvazio{
  display: grid;
  background-image: url("./components/static/fundoNuvem.jpeg");
  width: 100vw;
  height: 100vh;
}

.Div_Header_Foto_nome{
  background: none;
  display: flex;
  flex-direction:row;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  margin-top: 30px;
  background-color: #424669;
  border-radius: 20px;
  height: 300px;
  box-shadow: 5px 5px 20px black;
}
.DivInterna_PostagemPerfil{
  margin: 10px;
  background: none;
}
.Div__Postagens__Perfil{
  display: flex;
  flex-direction: column;
  background-color: #424669;
  border-radius: 20px;
  width: 550px;
  height: 600px;
  display: flex;
  justify-content: center;
  margin: 30px;
  box-shadow: 5px 5px 20px black;
}
