* {
  margin: 0;
  background-color: #160834;
  font-family: Raleway;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #5d438f;
  border-radius: 10px;
}
.Hide{
  display: none;
}
.Barra_lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#424669;
  left: 0;
  width: 200px;
  height: 100vh;
  position: fixed;

}
.main__Home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.Display__home{
  display: flex;
  background-image: url("./components/static/fundoNuvem.jpeg");

}
.app__signup {
  display: flex;
  flex-direction: column;
}
/* posts */
.post {
  display: flex;
  min-height: 600px;
  max-height: 600px;
  max-width: 900px;
  min-width: 900px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 180px;
  
}
.comment_component{
  background-color: #4E527B;
  max-height: 500px;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: auto;
  -webkit-box-orient: vertical; 
  word-break: break-all;
  margin-left: 10px;
}
.Div_Direita_Comments{
  background-color: #4E527B;
  max-height: 600px;
  width: auto;
  display: grid;
  grid-template-rows: 70px 460px 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.Div_Esquerda_Image{
  max-width: 540px ;
  background-color: #424669;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.post__header {
  display: flex;
  align-items: center;
}
.post__avatar {
  margin-right: 10px;
  background-color: #5d438f;

}
.post__image {
  margin: 20px;
  background-color:#363954;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  min-height: 500px;
  min-width: 500px;
  object-fit: contain;
}

.post__text {
  background-color:#424669;
  margin-top: 5px;
  margin-left: 5px;
  max-width: 400px;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  word-break: break-all;
  color: white;
}
.comment__text{
  background-color: #4E527B;
  word-break: break-all;
  color: white;
}
.Header_Comments{
  background-color: #4E527B;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.Div_Comments-Input{
  flex-direction: row;
  margin-bottom: 20px;
  width: auto;
  overflow: hide;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  word-break: break-all;
}
.Div_Input_Comment{
  background-color: #4E527B;
  display: grid;
  grid-template-columns: 270px 0px 100px;
  grid-template-rows: 30px 0px;
  margin-top: 20px;
}
.legenda_e_Like{
  background-color: #424669;
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto 0px 60px;
  grid-template-rows: 50px 0px;
}
.like__Button{
  margin-left: 5px;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  background-color: #db889f;
  border: none;
  color: white;
}
.like__Button_precionado{
  margin-left: 5px;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  background-color: #c349aa;
  border: none;
  color: white;
}
.Caption{
  background-color: #424669;
  color: white;
}
.Username{
  background-color: #4E527B;
  color: white;
  margin-left: 10px;
  font-size: 25px;
}



/* upload */
.progress {
  width: 100%;
  border: none;
  width:400px;
  color: #c349aa;
}

input[type=file] {
  font-size: medium;
  display: inline-block;
  cursor: pointer;
}

.ButtonHead{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #db889f;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.ButtonHead:hover{
  background-color: #c349aa;
}
.ButtonPost{
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #db889f;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.ButtonPost:hover{
  background-color: #c349aa;
}
.UserCred{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.InputGeneric{
  border: none;
  height: 50px;
  width: 400px;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  color: black;
}
.InputGeneric:focus{
 border: none;
}
.class_Div_Post{
  display: flex;
  flex-direction: column; 
  align-items: center;

}
.titulo {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.titulo-cadastro {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;

}
.paragrafo-login {
  font-size: 24px;
  margin-bottom: 50px;
  color: white;
}

.submitButton{
  background-color: #db889f;
  color: white;
  border: none;
  width: 125px;
  height: 35px;
  font-family: Raleway;
  font-size: 20px;
  border-radius: 50px;
  margin-top: 30px;
}
.submitButton:hover{
  background-color: #e47ed0;
  cursor: pointer;
}
.signin{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.signup{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.Coluna_Header_Home{
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #473170;
}
.User_LogOut_Div{
  display: flex; 
  align-items: center;
  margin-right: 10px;
  background-color: #473170;
  margin-left: 40px;
}
.ButtonPost_Div{
  width: 500px;
  background-color:#473170;
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 25px;
}
.Sign__Div{
  background-image: url("./components/static/fundoNuvem.jpeg");
  width: 100vw;
  height: 100vh;
}
.WelcomeUser{
  color: white;
  font-size: 20px;
  border: none;
  background-color:#424669;
  font-size: 25px;
}

#class_Div_Post input{
  font-family: Raleway;
}
#class_Div_Post button{
  font-family: Raleway;
  border: none;
  padding: 20px 10px;
  width: 100px;
  background-color: #db889f;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
}
#class_Div_Post button:hover{
  color: black;
  background-color: #c349aa;
}
#image{
  display: none;
}
.labelInput {
  padding: 20px 10px;
  width: 200px;
  background-color: #db889f;
  display: block;
  font-family: Raleway;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
}
.labelInput:hover{
  color: black;
  background-color: #c349aa;
}

#post_Form{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.homepage{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.feed{
  margin: auto;
  background-image: url("./components/static/fundoNuvem.jpeg");
  
  justify-self: center;
  align-items: center;
  
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
  border: 1px solid black;
}

.Img__Logo{
  background-color: #5d438f;
}
.Modal_Cadastro ::after {
  background-color: rgb(0,0,0, .5);
}
dialog {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 40px;
}

.Button_Trocar_loginCadastro{
  background-color: #676f9d;
  color: white;
  border: none;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 10px;
}
.Button_Trocar_loginCadastro:hover{
  background-color: #676f9d;
  color: #db889f;
  border: none;
  text-decoration: none;
}
.Div_TrocarButton{
  background-color: #676f9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.voltar{
  font-family: Raleway;
  width: 70px;
  height: 30px;
  border: none;
  background-color: #db889f;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 20%;
}
.Modal_Postagem{
  width: 600px;
  height: 320px;
  background-color: #160834;
  border: none;
}
.Modal_Postagem *{
  background-color: #160834;
  
}
.TextArea__NewPost{
  color: white;
  background-color: #424669;
  height: 70px;
  width: 400px;
  border: none;
  border-radius: 20px;
}

.Div_Modal_Post{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.Button_Comentar{
  background-color: #db889f;
  color: white;
  border: none;
  border-radius: 50px;
  width: 75px;
  margin-left: 10px;
}
.Input__Comment{
  background-color: #4E527B;
  border: none;
  width: auto;
  margin-bottom: 10px;
  margin-left: 5px;
}
.Button__Woofo{
  border: none;
  background-color:#424669;
  font-family: Raleway;
  color: white;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}
.Div_Img_Login{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.Div_Text_Login{
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: white;
  margin-top: 25px;
}
.P_Text_Login{
  font-size: 30px;
  margin-bottom: 10px;
}
.H1_Text_Login{
  font-size: 45px;
}
.Img__Login{
  max-width: 800px;
}
.Div_Postagens_Perfil{
  align-items: center;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.Div_Postagens_Perfil img{
  width: 310px;
  height: 310px;
  border: 1px solid black;
}
.Div_Header_Perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #473170;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.H1_Header{
  background-color: #473170;
  margin-top: 50px;
  font-size: 50px;
  color: white;
}
.Foto_Header_Perfil{
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 2px solid black;
}
.Perfil{
  display: flex;
  align-items: center;
  flex-direction:column;
}
.Div_Header_Foto_nome{
  display: flex;
  flex-direction:row;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -5px;
  margin-bottom: 20px;
  background-color: #473170;
  border-radius: 20px;
}
.DivInterna_PostagemPerfil{
  margin: 10px;
}
.Div__Postagens__Perfil{
  align-items: center;
  background-color: #5d438f;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
